# Virutal Environments
.venv
venv

__pycache__
requirements.txt
.sqlite3

*/db.sqlite3
backend/db.sqlite3
frontend/src/axiosInstance.js

# Images Folder
backend/socialnetwork/media
socialnetwork/media

backend/*.log