.dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 130%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}
  
.dropdown-menu li {
    padding: 5px;
}
  
.dropdown-menu li a,
.dropdown-menu li button {
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
}
  
.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
    background-color: #f0f0f0;
    border: none;
}
