a {
    text-decoration: none;
    color: #3D405B; /* deep slate blue */
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    color: white;
    background-color: #81B29A; /* muted sage green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Specific link styles */
nav ul li a,
.dropdown-menu li a,
.dropdown-menu li button {
    color: #3D405B; /* deep slate blue */
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover,
.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
    background-color: #81B29A; /* muted sage green */
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}